

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th>{{this.id}}</th>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>